.navbar {
    background-color: #003580;
    display: flex;
    height: 50px;
    justify-content: center;

}

.navContainer {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.logo {
    font-weight: 500;
}

.navButtons {
    padding: 5px 10px;
    margin-left: 20px;
    cursor: pointer;
    border: none;
    color: #003580;
}

.logout {
    margin-left: 10px;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 390px) {
    .navbar {
        font-size: 15px;
    }
    .logout {
        margin-right: 10px;
    }

}